# # --- PostgreSQL ---
# POSTGRES_USER=postgres
# POSTGRES_PASSWORD=postgres
# POSTGRES_DB=construction_pm
# DB_PORT=5432

# # --- App ---
# APP_PORT=3001

# # --- Prisma (for local dev / migrations outside Docker) ---
# DATABASE_URL="postgresql://postgres:postgres@localhost:5432/construction_pm?schema=public"

# # --- JWT
# JWT_SECRET="your-super-secret-key-change-in-production"
# JWT_EXPIRES_IN="7d"

# ======================
# DATABASE (Neon)
# ======================
DB_HOST=ep-lively-frost-a16g0bfi-pooler.ap-southeast-1.aws.neon.tech
DB_USER=neondb_owner
DB_PASS=npg_AVPI84iBrWaE
DB_NAME=neondb
DB_SSL=true

DATABASE_URL='postgresql://neondb_owner:npg_AVPI84iBrWaE@ep-lively-frost-a16g0bfi-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require'

# ======================
# AUTH (JWT)
# ======================
JWT_SECRET=your-super-secret-key-change-in-production
JWT_ACCESS_SECRET=your-access-token-secret-key-change-in-production
JWT_REFRESH_SECRET=your-refresh-token-secret-key-change-in-production
JWT_ACCESS_EXPIRES="60m"
JWT_REFRESH_EXPIRES="7d"

# ======================
# CLOUDFLARE R2
# ======================
R2_ACCOUNT_ID=1299b5b3baad020353db99101a7e64c6
R2_ACCESS_KEY=543ce75ae7bd98808d12a0bea7e5605a
R2_SECRET_KEY=d8ab19cb15ad09f261d57778b4624975b24dbd3bea7feeacf0d2e12d12421aa5
R2_BUCKET=construction-images
R2_ENDPOINT=https://1299b5b3baad020353db99101a7e64c6.r2.cloudflarestorage.com/construction-images

# public url
R2_PUBLIC_URL=https://pub-05eab7ed0cbd457dabff19fec412966d.r2.dev
# หรือถ้ายังไม่มี domain:

# ======================
# APP
# ======================
PORT=3000
NODE_ENV=development

